###############################################################################
# Build
###############################################################################

bin/
obj/

###############################################################################
# NuGet
###############################################################################

packages/
*.nupkg
*.snupkg

###############################################################################
# Rider
###############################################################################

.idea/
*.sln.iml
riderModule.iml

###############################################################################
# ReSharper
###############################################################################

_ReSharper*/
*.DotSettings.user

###############################################################################
# Visual Studio
###############################################################################

.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.rsuser
*.sln.docstates

###############################################################################
# Logs
###############################################################################

*.log

###############################################################################
# Environment variables
###############################################################################

.env
.env.*
!.env.example

###############################################################################
# Secrets
###############################################################################

secrets.json

###############################################################################
# Local databases
###############################################################################

*.db
*.db-shm
*.db-wal

###############################################################################
# MAUI / Mobile
###############################################################################

*.apk
*.aab
*.apks
*.ipa

###############################################################################
# Publish
###############################################################################

publish/

###############################################################################
# OS files
###############################################################################

.DS_Store
Thumbs.db
desktop.ini